doctype html
html
	head
		title= 'NRML'
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#wrapper
			#header
				h1 NRML
			block content
			script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
			script(src='/javascripts/global.js')