extends layout

block content
	h1 Post Question
	form( method="post").white_box
		table
			tbody
				tr
					td
						input(type="text" , name="text", placeholder="Question", size=85)
					td
						select(name="type")
							option(value="1")= "Numeric"
							option(value="2")= "Yes/No"
					td
						input(type="submit", value="Post", style="float:right")
	h1 Question List
	ul.qlist
		each q in qlist
			li.white_box
				=q.text
				span.question_info
					if ( q.type == 1 )
						| Numeric
					else if( q.type == 2 )
						| Yes/No
					| &nbsp;:&nbsp;#{q.vote_count} answers
				br
				| &nbsp;
				span.question_info
					a(href="/questions/delete/" + q._id) Delete