body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f6f6f6;
  color: #333;
}

.box {
	background: white;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 3px;
}

input,
select {
	font-size: 20px;
	border: 1px #999 solid;
	border-width: 0px 0px 2px 0px;
}

button.yes {
	background: #87AD03;
	border: 1px green solid;
	padding: 10px;
	border-radius: 4px;
	font-family: 'Quicksand-Regular';
}

button.no {
	background: #F67502;
	border: 1px red solid;
	padding: 10px;
	border-radius: 4px;
	font-family: 'Quicksand-Regular';	
}

form table {
	width: 100%;
}

#header {
	color:  #00B7FF;
	font-family: 'DN Titling'; 
	font-size: 20px;
	font-weight: normal;
	font-style: normal; 	
	text-align: center;
}

h1 {
	padding: 0px 20px;
}

#wrapper {
	width: 1024px;
	margin: 50px auto;
}

a {
  color: #00B7FF;
}

span.question_info {
	float: right;
	line-height: 14px;
	font-size: 11px;
	text-transform: lowercase;
	font-family: Consolas, Monaco, Lucida Console, monospace;
}

ul.qlist,
ul.qmain {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('Quicksand-Bold.otf');
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('Quicksand-Regular.otf');
}

ul.qlist li,
ul.qmain li {
	margin-bottom:-1px;
	font-size: 18px;
	font-family: 'Quicksand-Bold';
	color: #444;
}

ul.qmain li {
	text-align: center;
}